<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmnesiaDashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AmnesiaDashboard.Properties.Settings>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LevelEditorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MapViewerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaterialEditorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelEditorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelViewerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ParticleEditorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GameExe" serializeAs="String">
                <value />
            </setting>
            <setting name="LevelEditorExe" serializeAs="String">
                <value />
            </setting>
            <setting name="MapViewerExe" serializeAs="String">
                <value />
            </setting>
            <setting name="MaterialEditorExe" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelEditorExe" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelViewerExe" serializeAs="String">
                <value />
            </setting>
            <setting name="ParticleEditorExe" serializeAs="String">
                <value />
            </setting>
            <setting name="RedistPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LEditSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LEditH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LEditW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LEditCustom" serializeAs="String">
                <value>False</value>
            </setting>
        </AmnesiaDashboard.Properties.Settings>
    </userSettings>
</configuration>